{% extends 'base.html' %}
{% load static %}

{% block content %}


<head>

  <title>Customer | Aadolf Ledger</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



        <!-- Begin Page Content -->
        <div class="container-fluid">        

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3" style="display: flex; justify-content: space-between; align-items: center;">
              <h5 class="m-0 font-weight-bold text-primary" id="table__title">CUSTOMERS</h5>
              <a class="nav-item dropdown no-arrow mx-1" href="{% url 'customer_upload' %}" style="float: right;"><button class="btn btn-primary">New</button></a>
            </div>




            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>NAME</th>
                      <th>COMPANY NAME</th>
                      <th>EMAIL</th>
                      <th>WORK PHONE</th>
                      <th>GST TREATMENT</TH>
                      <th>RECEIVABLES</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in alldetails %}
                    <tr role="button" data-href="#">
                      <td style="text-align:center">
                        <a href="#">{{i.company_name}}</a></td>
                      <td style="text-align:center">
                        <a>{{i.company_name}}</a></td>
                      <td style="text-align:center">
                         {{i.email}} </td>
                      <td style="text-align:center">
                        {{i.work_phone_no}}</td>
                      <td style="text-align:center">
                        {{i.gst_treatment}}</td>
                      <td style="text-align:center">
                        {{i.tax_prefrence}}</td>

                        <td><a class="btn btn-primary" href="{% url 'edit_customer' i.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                       

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      
  <script>
    $("#img__Trigger").click(function(){
      $("#SideProfileBar").toggleClass("SideProfileBarClass");
      $("#SideProfileBar").toggleClass("summaclass");
      // console.log("dsadasdas")
    });
  </script>

{% endblock %}