{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <title>Expenses Form | Aadolf Ledger</title>
</head>
<style>
  .container {
    margin-top: 5%;
  }

  .dropbox-div {
    margin-right: 5%;
    position: relative;
    width: 30vw;
    height: 50vh;
  }

  .in-label {
    position: absolute;
    left: 10%;

    width: 30vw;
    height: 50vh;
    overflow: hidden;
  }

  .in-label::after {
    padding-top: 1rem;
    text-align: center;
    min-width: 100%;
    min-height: 30%;
    content: "Attach files" !important;
    position: absolute;

    top: 85%;
    border-left: none;
    border-radius: 0 0 0 0;
  }

  .sab-btn {
    margin: 0.5rem 0.5rem 1rem 1rem;
  }

  @media screen and (max-width: 768px) {
    .in-label {
      left: 0%;
      top: 0%;
      min-width: 80%;
    }
  }


  .header {
    width: 100%;
    background-color: #e3e6f0;
    padding: 26px;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif !important;
  }
</style>


<div class="container-fluid">

  <div class="row">
    <div class="header">
      <h2 class="float-left text-primary" id="table__title">New Expenses</h2>
    </div>

  </div>

</div>
</div>
<form method="POST" action="#" class="expenses" enctype='multipart/form-data'>
  {%csrf_token%}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="date">Date*</label>
          <div class="col-md-9">
            <input class="form-control" type="date" name="date" id="date" required />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="Exp_Account">Expense Account*
          </label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="Exp_Account" id="Exp_Account" placeholder="Select Account"
              required />
          </div>
        </div>

        <div class="form-group row">
          <label for="radio-btn-form" class="col-md-3">Expense Type*</label>
          <div class="col-md-9" id="radio-btn-form">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input"
                value="Goods" />
              <label class="custom-control-label" for="customRadioInline1">Goods</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input"
                value="Services" />
              <label class="custom-control-label" for="customRadioInline2">Services</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="SAC" class="col-md-3">SAC</label>
          <div class="col-md-9">
            <input type="text" name="SAC" id="SAC" class="form-control" />
          </div>
        </div>

        <div class="form-group row">
          <label for="selling-price" class="col-md-3 col-form-label">Amount*</label>
          <div class="col-md-9">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">INR</span>
              </div>
              <input type="text" class="form-control" name="amount" aria-label="Amount" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="paid">Paid Through*
          </label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="paid" id="paid" placeholder="Select Account" required />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="vendor">Vendor
          </label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="vendor" id="vendor" placeholder="Select Vendor" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="gstd">GST Treatment*
          </label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="gstd" id="gst" placeholder="Select Account" required />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="des_supply">Destination Of Supply*
          </label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="des_supply" id="des_supply" placeholder="Select Box: States"
              required />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="rev">Reverse Charge
          </label>
          <div class="col-md-9" id="rev">
            <input type="checkbox" class="chk_rev_charge" id="rev_charge" value=True name="rev_charge" />
            <label class="chk_rev_charge" for="rev_charge">This transaction is applicable for reverse
              charge</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="tax">Tax* </label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="tax" id="tax" placeholder="Select Account" required />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="invoice">Invoice#*
          </label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="invoice" id="invoice" placeholder="" required />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="notes">Notes </label>
          <div class="col-md-9">
            <textarea class="form-control" name="notes" id="notes" placeholder="Max 500 words">
                </textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="custom_name">Custom Name*
          </label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="custom_name" id="custom_name" placeholder="Select Account"
              required />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <div class="custom-file dropbox-div">
            <input type="file" name="expensefile" class="custom-file-input in-dropbox" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01" />
            <label class="custom-file-label in-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <button class="btn btn-primary btn-lg sab-btn" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>
          Save</button>
      </div>
      <div>
        <button class="btn btn-info btn-lg sab-btn" type="submit">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Save & New
        </button>
      </div>
      <div>
        <a href="{%url 'expense_index'%}"><button class="btn btn-secondary btn-lg sab-btn" type="button">
            Cancel
          </button></a>
      </div>
    </div>
  </div>
</form>

{% endblock %}