{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>


  <title>Organization Profile | Aadolf Ledger</title>

  
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" integrity="sha512-0nkKORjFgcyxv3HbE4rzFUlENUMNqic/EzDIeYCgsKa/nwqr2B91Vu/tNAu4Q0cBuG4Xe/D1f/freEci/7GDRA==" crossorigin="anonymous" />

</head>


        <!-- Begin Page Content -->
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#"><span style="font-size: 20px">Organization Profile</span></a>
        </nav>
        <hr>


                  


    <div class="container-fluid">
        <form id="form" method="post" action="{%url 'manage' %}" enctype='multipart/form-data'>
          {% csrf_token %}
          <div class="form-group row">
            <label class="col-sm-2 col-form-label form__lable">Organisation Logo</label>
            <div class="col-sm-4">
              <div class="profile-images">
                <img src="{{media_url}}{{organisation.organisation_logo}}" id="upload-img">
              </div>
              <label class="btn btn-primary" for="img" style="font-size: 13px;"><i class="fa fa-picture-o" aria-hidden="true"></i> Update Your Logo</label>
              <input type="file" id="img" name="img" accept="image/*" class="form-control" style="display: none;">
            </div>
             <div class="col-sm-5">
              <p>This logo will appear on the documents (estimates, invoices, etc.) that are created</p>
              <small>Preferred Image Size: 240px x 240px @ 72 DPI Maximum size of 1MB.</small>
            </div>
          </div>


          <div class="form-group row">
            <label for="Industry" class="col-sm-2 col-form-label form__lable">Organisation Name*</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="Name" name="name" value="{{organisation.organisation_name}}">
            </div>
          </div>



          <div class="form-group row">
            <label for="Industry" class="col-sm-2 col-form-label form__lable">Industry *</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="Industry" name="industry" value="{{organisation.industry}}">
            </div>
          </div>



          <div class="form-group row">
            <label for="Business_Locations" class="col-sm-2 col-form-label form__lable">Business Locations</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="Business_Locations" name="business_locations" value="{{organisation.business_location}}">
            </div>
          </div>



          <div class="form-group row">
            <label for="Company_Address" class="col-sm-2 col-form-label form__lable">Company Address</label>
            <div class="col-sm-6">

              <input type="text" class="form-control" id="Company_Address" placeholder="Line 1" name="address1" value="{{organisation.company_address1}}" >
              <br>

              <input type="text" class="form-control" id="Company_Address" placeholder="Line 2" name="address2" value="{{organisation.company_address2}}">
              <br>

              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="City" name="city" value="{{organisation.city}}" >
                </div>
                <div class="col">
                  <select id="inputState" class="form-control" name="state">
          <option value="andamanandnicobar Islands" {% if organisation.state == "andamanandnicobar Islands" %} selected {% endif %}>Andaman and Nicobar Islands </option>
          <option value="arunachalpradesh"  {% if organisation.state == "arunachalpradesh" %} selected {% endif %}>Arunachal Pradesh</option>
          <option value="assam"  {% if corganisation.state == "assam" %} selected {% endif %}>Assam</option>
          <option value="bihar"  {% if organisation.state == "bihar" %} selected {% endif %}>Bihar</option>
          <option value="chandigarh" {% if organisation.state == "chandigarh" %} selected {% endif %}>Chandigarh</option>
          <option value="chhattisgarh" {% if organisation.state == "chhattisgarh" %} selected {% endif %}>Chhattisgarh</option>
          <option value="dadra" {% if organisation.statet == "dadra" %} selected {% endif %}>Dadra and Nagar Haveli and Daman and Diu</option>
          <option value="delhi" {% if organisation.state == "delhi" %} selected {% endif %}>Delhi</option>
          <option value="goa" {% if organisation.state == "goa" %} selected {% endif %}>Goa</option>
          <option value="gujarat" {% if organisation.state == "gujarat" %} selected {% endif %}>Gujarat</option>
          <option value="haryana" {% if organisation.state == "haryana" %} selected {% endif %}>Haryana</option>
          <option value="himachal" {% if organisation.state == "himachal" %} selected {% endif %}>Himachal Pradesh</option>
          <option value="jammu" {% if organisation.state == "jammu" %} selected {% endif %}>Jammu and Kashmir</option>
          <option value="jhar" {% if organisation.state == "jhar" %} selected {% endif %}>Jharkhand</option>
          <option value="kar" {% if organisation.state == "kar" %} selected {% endif %}>Karnataka</option>
          <option value="ker" {% if organisation.state == "ker" %} selected {% endif %}>Kerala</option>
          <option value="ladakh" {% if organisation.state == "ladakh" %} selected {% endif %}>Ladakh</option>
          <option value="lak" {% if organisation.state == "lak" %} selected {% endif %}>Lakshadweep </option>
          <option value="madh" {% if organisation.state == "madh" %} selected {% endif %}>Madhya Pradesh</option>
          <option value="maha" {% if organisation.state == "madh" %} selected {% endif %}>Maharashtra</option>
          <option value="mani" {% if organisation.state == "mani" %} selected {% endif %}>Manipur</option>
          <option value="mega" {% if organisation.state == "mega" %} selected {% endif %}>Meghalaya</option>
          <option value="mizo" {% if organisation.state == "mizo" %} selected {% endif %}>Mizoram</option>
          <option value="naga" {% if organisation.state == "naga" %} selected {% endif %}>Nagaland</option>
          <option value="odi" {% if organisation.state == "odi" %} selected {% endif %}>Odisha</option>
          <option value="puducherry" {% if organisation.state == "puducherry" %} selected {% endif %}>Puducherry</option>
          <option value="punjab" {% if organisation.state == "punjab" %} selected {% endif %}>Punjab</option>
          <option value="rajas" {% if organisation.state == "rajas" %} selected {% endif %}>Rajasthan</option>
          <option value="sikkim" {% if organisation.state == "sikkim" %} selected {% endif %}>Sikkim</option>
          <option value="tamilnadu" {% if organisation.state == "tamilnadu" %} selected {% endif %}>Tamil Nadu</option>
          <option value="tel" {% if organisation.state == "tel" %} selected {% endif %}>Telangana</option>
          <option value="tri" {% if organisation.state == "tri" %} selected {% endif %}>Tripura</option>
          <option value="uttar" {% if organisation.state == "uttar" %} selected {% endif %}>Uttar Pradesh</option>
          <option value="uttarkhand" {% if organisation.state == "uttarkhand" %} selected {% endif %}>Uttarakhand</option>
          <option value="westbengal" {% if organisation.state == "westbengal" %} selected {% endif %}>West Bengal</option>
	  </select>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Zip code" name="zipcode" value="{{organisation.zipcode}}">
                </div>
              </div>
              <br>
               <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Phone" name="phno" value="{{organisation.ph_no}}">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Fax" name="fax" value="{{organisation.fax}}">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Website" name="website" value="{{organisation.website}}">
                </div>
              </div>
              <br>
            </div>
          </div>
  

         




          <br>
          <br>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-4 col-form-label form__lable">Company ID</label>
              <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="row">
                  <!-- <div class="col">
                    <select class="form-control">
                      <option selected>Company ID : </option>
                      <option>...</option>
                    </select>
                  </div> -->
                  <div class="col">
                     <input type="text" class="form-control" id="CompanyID" name="companyID" value="{{organisation.Company_ID}}">
                  </div>
                </div>            
              </div>
            </div>  

            <div class="form-group row">
              <label for="inputPassword" class="col-sm-4 col-form-label form__lable">Tax ID</label>
              <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="row">
                  <!-- <div class="col">
                     <select class="form-control">
                      <option selected>Tax ID : </option>
                      <option>...</option>
                    </select>
                  </div> -->
                  <div class="col">
                     <input type="text" class="form-control" id="TaxID" name="TaxID" value="{{organisation.Tax_ID}}">
                  </div>
                </div>            
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-12 col-md-4">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert" style="padding: 15px">
                 You can have Company ID, Tax ID and Additional Fields show up on your PDF by inserting the required placeholders in your 'Address Format' under <a href="#">Settings</a> -> <a href="#">Preferences</a> -> <a href="#">General</a>
                </div>
            </div>
          </div> -->

        </div>


        <div class="form-group row" id="aaa">
          <label for="yourlogo" class="col-sm-2 col-form-label form__lable"></label>
          <div class="col-sm-12 col-md-6 mb-4">
            <button class="btn save" type="submit">Save</button>
          </div>
        </div>

        </form>
              
        <!-- <div class="form-group row" id="aaa">
          <label for="yourlogo" class="col-sm-2 col-form-label form__lable"></label>
          <div class="col-sm-4">
            <a  href="#aaa" onclick="addfeild()">Add Additional Feild</a>
          </div>
        </div> -->
        <hr>



        
    </div>


         
        
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

  


  <script type="text/javascript">
    $( document ).ready(function() {
        $(".choose").chosen()
      });
  </script>

  <script>
    var i = 0;
    function addfeild(){
      var form  = document.getElementById("form");
      i = i + 1;
      form.innerHTML += `   <div class="form-group row">
            <label for="Industry" class="col-sm-2 col-form-label form__lable">Additional Fields</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="Industry" name="${i}" placeholder="Lable">
            </div>
             <div class="col-sm-2">
              <input type="text" class="form-control" id="Industry" name="${i}" placeholder="Value">
            </div>
          </div>`
    }
  </script>


<script>
  $(function(){
    $("#img").change(function(event) {
      var x = URL.createObjectURL(event.target.files[0]);
      $("#upload-img").attr("src",x);
      console.log(event);
    });
  })
</script>

{% endblock %}