{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Blank</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css"
    integrity="sha512-0nkKORjFgcyxv3HbE4rzFUlENUMNqic/EzDIeYCgsKa/nwqr2B91Vu/tNAu4Q0cBuG4Xe/D1f/freEci/7GDRA=="
    crossorigin="anonymous" />

</head>

<style type="text/css">
  .dropbtn {
    background-color: #ffffff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  #drop__btn {
    margin-right: 25px;
    font-size: 13px;
    cursor: pointer;
  }

  #drop__btn:hover {
    background-color: transparent;
  }

  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  #myInput:focus {
    outline: 3px solid #ddd;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .fa-search {
    cursor: pointer !important;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }

  .b__tn {
    background-color: #d3d3d3;
  }

  #tb__head {
    font-size: 14px !important;
    font-weight: bold !important;

  }

  .table__heading {
    white-space: nowrap !important;
  }

  #date {
    height: 0;
    width: 0;
    opacity: 0;
  }

  .btn___custom {
    border-radius: 3px;
    height: 1.6rem;
    width: 9.4em;
    text-align: center;
    background-color: #d3d3d3;
    color: #1f91ff;
  }
</style>




<body id="page-top">

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Aadolf Solutions</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>


      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="../../itemform/">
          <i class="fas fa-fw fa-sitemap"></i>
          <span>Items</span>
        </a>

      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span>Sales</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">

            <a class="collapse-item" href="../../customer/">Customer</a>
            <a class="collapse-item" href="../../estimate/">Quotation</a>
            <a class="collapse-item" href="../../sales/">Sales Order</a>
            <a class="collapse-item" href="#">Delivery Challans</a>
            <a class="collapse-item" href="../../invoice/">Invoices</a>
            <a class="collapse-item" href="#">Payments Received</a>
          </div>
        </div>
      </li>





      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
          aria-controls="collapsePages">
          <i class="fas fa-fw fa-shopping-basket"></i>
          <span>Purchase</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">

            <a class="collapse-item" href="../../vendor/">Vendors</a>
            <a class="collapse-item" href="#">Enquiry</a>
            <a class="collapse-item" href="#">Purchase Orders</a>
            <a class="collapse-item" href="../../expenses/">Expenses</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="../">
          <i class="fas fa-fw fa-book"></i>
          <span>Reports</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-passport"></i>
          <span>Documents</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>


      <div class="toggle" onclick="toggleMenu()">
      </div>
      <script type="text/javascript">
        function toggleMenu() {
          let navigation = document.querySelector('.navigation');
          let toggle = document.querySelector('.toggle');
          navigation.classList.toggle('active');
          toggle.classList.toggle('active');
        }
      </script>









    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <!--settings-->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cogs fa-fw"></i>

              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Settings
                </h6>
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">

                      </button>
                    </div>
                  </div>
                </form>

                <a class="dropdown-item d-flex align-items-center" href="#">

                  <div>

                    <span class="font-weight-bold">demo</span>
                  </div>

                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">

                  <div>

                    <span class="font-weight-bold">demo</span>
                  </div>
                </a>


              </div>


            </li>
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    ₹290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                      having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them
                      sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so
                      far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                      say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: .5px solid #D3D3D3">
          <a class="navbar-brand" href="#" style=""></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- search box -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li style="margin-top: 7px; margin-bottom: 10px">
                <div class="dropdown">
                  <a onclick="myFunction()" class="dropbtn" id="drop__btn"><i class="fa fa-search"
                      aria-hidden="true"></i> Search Reports</a>
                  <div id="myDropdown" class="dropdown-content" style="width: 300px">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()"
                      style="width: 100%">
                    <div style="max-height: 350px; overflow-y: scroll;">
                      <a href="#"> <span>Purchases by Vendor</span></a>

                      <a href="#"> <span>Purchases by Item </span></a>

                      <a href="#"> <span>Expense Details </span></a>

                      <a href="#"> <span>Expenses by Category</span> </a>

                      <a href="#"> <span>Expenses by Customer</span></a>

                      <a href="#"> <span>Expenses by Project</span></a>

                      <a href="#"> <span>Expenses by Employee</span></a>

                      <a href="#"> <span>Sales by Customer</span></a>

                      <a href="#"> <span>Sales by Item</span></a>

                      <a href="#"> <span>Sales by Sales Person</span> </a>
                    </div>
                  </div>
                </div>
              </li>

              <li style="margin-right: 14px; ">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-calendar"
                        aria-hidden="true"></i></label>
                  </div>
                  <select class="custom-select date__select" id="inputGroupSelect01"
                    style="font-size: 13px;margin-right: 14px;">
                    <option selected value="Today">Today</option>
                    <option value="This_Week">This Week</option>
                    <option value="This_Month">This Month</option>
                    <option value="This_Quarter">This Quarter</option>
                    <option value="This_Year">This Year</option>
                    <option value="Yesterday">Yesterday</option>
                    <option value="Previous_Week">Previous Week</option>
                    <option value="Previous_Month">Previous Month</option>
                    <option value="Previous_Quarter">Previous Quarter</option>
                    <option value="Previous_Year">Previous Year</option>
                    <option value="Custom">Custom</option>
                  </select>
                </div>

              </li>

              <li style="margin-top: 3.4px;">
                <label for="date" class="custom__feild">
                  <input type="text" id="date" name="starting__date">
                  <i class="fa fa-calendar-plus-o" aria-hidden="true" style="font-size: 1.5rem"></i>

                </label>
              </li>

            </ul>

            <div class="btn-group" style="margin-right: 10px">
              <button type="button" class="btn b__tn"><i class="fa fa-print" aria-hidden="true"></i></button>
              <button type="button" class="btn b__tn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Print Reference</a>
              </div>
            </div>

            <div class="btn-group" style="margin-right: 10px">
              <button type="button" class="btn b__tn">Export As</button>
              <button type="button" class="btn  b__tn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">PDF</a>
                <a class="dropdown-item" href="#">CSV (Comma Separated Value)</a>
                <a class="dropdown-item" href="#">XLS (Microsoft Excel 1997-2004 Compatible)</a>
                <a class="dropdown-item" href="#">XLSX (Microsoft Excel)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Export to zoho sheet</a>
              </div>
            </div>

            <li class="form-inline my-2 my-lg-0" style="margin-right: 10px">
              <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Schedule Report</a>
            </li>
          </div>
        </nav>




        {% block content %}

        {% endblock %}

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Aadolf Solutions 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"
      integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g=="
      crossorigin="anonymous"></script>





    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>



    <script type="text/javascript">
      $(document).ready(function () {
        $(".choose").chosen()
      });
    </script>

    <script>
      /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
          txtValue = a[i].textContent || a[i].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
          } else {
            a[i].style.display = "none";
          }
        }
      }
    </script>

    <script>
      $(document).ready(function () {
        $(".custom__feild").css("display", "none");
        var date1 = "";
        var date1_format = "";
        var date2 = "";
        var date2_format = "";
        var display__date = "";
        var fetch_date1 = "";
        var fetch_date2 = "";
        var curr = "";
        var first = "";
        var last = "";


        date1 = new Date();

        date1_format = date1.getDate() + "/" + (date1.getMonth() + 1) + "/" + date1.getFullYear();

        fetch_date1 = date1.getFullYear() + "/" + (date1.getMonth() + 1) + "/" + date1.getDate()

        date2 = new Date();

        date2_format = date2.getDate() + "/" + (date2.getMonth() + 1) + "/" + date2.getFullYear();

        fetch_date2 = date2.getFullYear() + "/" + (date2.getMonth() + 1) + date2.getDate();

        display__date = "From " + date1_format + " to " + date2_format;

        $(".from__date").text(display__date);

        $("select.date__select").change(function () {
          var selectedCountry = $(this).children("option:selected").val();
          makeDate(selectedCountry)
        });



        function makeDate(value) {
          switch (value) {
            case "Today":
              $(".custom__feild").css("display", "none");
              date1 = new Date();
              date1_format = date1.getDate() + "/" + (date1.getMonth() + 1) + "/" + date1.getFullYear();
              fetch_date1 = date1.getFullYear() + "/" + (date1.getMonth() + 1) + "/" + date1.getDate();
              date2 = new Date();
              date2_format = date2.getDate() + "/" + (date2.getMonth() + 1) + "/" + date2.getFullYear();
              fetch_date2 = date2.getFullYear() + "/" + (date2.getMonth() + 1) + "/" + date2.getDate();
              display__date = "From " + date1_format + " to " + date2_format;
              $(".from__date").text(display__date);
              break;

            case "This_Week":
              $(".custom__feild").css("display", "none");
              display__date = Current_Week()[0];
              $(".from__date").text(display__date);
              break;

            case "This_Month":
              $(".custom__feild").css("display", "none");
              curr = new Date();
              date1 = new Date(curr.getFullYear(), curr.getMonth(), 1);
              date1_format = date1.getDate() + "/" + (date1.getMonth() + 1) + "/" + date1.getFullYear();
              fetch_date1 = date1.getFullYear() + "/" + (date1.getMonth() + 1) + "/" + date1.getDate();
              date2 = new Date(curr.getFullYear(), curr.getMonth() + 1, 0);
              date2_format = date2.getDate() + "/" + (date2.getMonth() + 1) + "/" + date2.getFullYear();
              fetch_date2 = date2.getFullYear() + "/" + (date2.getMonth() + 1) + "/" + date2.getDate();
              display__date = "From " + date1_format + " to " + date2_format;
              $(".from__date").text(display__date);
              break;

            case "This_Quarter":
              $(".custom__feild").css("display", "none");
              display__date = generate_Quarter();
              $(".from__date").text(display__date);
              break;

            case "Custom":
              $(".custom__feild").css("display", "");
              break;

            case "This_Year":
              $(".custom__feild").css("display", "none");
              curr = new Date();
              date1_format = "01" + "/" + "04" + "/" + curr.getFullYear();
              fetch_date1 = curr.getFullYear() + "/" + "04" + "/" + "01";
              date2_format = "31" + "/" + "03" + "/" + (curr.getFullYear() + 1);
              fetch_date2 = (curr.getFullYear() + 1) + "/" + "03" + "/" + "31";
              display__date = "From " + date1_format + " to " + date2_format;
              $(".from__date").text(display__date);
              break;

            case "Yesterday":
              $(".custom__feild").css("display", "none");
              display__date = generate_yesterday()[0];
              $(".from__date").text(display__date);
              break;

            case "Previous_Week":
              $(".custom__feild").css("display", "none");
              var current_week_starting_date = Current_Week()[1];
              var current_week_starting_date_yesterday = generate_yesterday(current_week_starting_date)[1]
              fetch_date1 = Current_Week(current_week_starting_date)[1]
              fetch_date2 = Current_Week(current_week_starting_date)[2]
              var prevoius__week = Current_Week(current_week_starting_date_yesterday)[0]
              $(".from__date").text(prevoius__week);
              break;
          }
        }


        // cunstom date function
        $('input[name="starting__date"]').daterangepicker({}, (start, end, label) => {
          date1_format = start.format('DD/MM/YYYY');
          fetch_date1 = start.format("YYYY/MM/DD");
          fetch_date2 = start.format("YYYY/MM/DD");
          date2_format = end.format('DD/MM/YYYY');
          display__date = "From " + date1_format + " to " + date2_format;
          $(".from__date").text(display__date);
        });


        function Current_Week(date = "") {
          if (date) {
            curr = new Date(date);
          } else {
            curr = new Date();
          }

          first = curr.getDate() - curr.getDay();
          last = first + 6;
          date1 = new Date(curr.setDate(first));
          date1_format = date1.getDate() + "/" + (date1.getMonth() + 1) + "/" + date1.getFullYear();
          fetch_date1 = date1.getFullYear() + "/" + (date1.getMonth() + 1) + "/" + date1.getDate();
          date2 = new Date(curr.setDate(last));
          date2_format = date2.getDate() + "/" + (date2.getMonth() + 1) + "/" + date2.getFullYear();
          fetch_date2 = date2.getFullYear() + "/" + (date2.getMonth() + 1) + "/" + date2.getDate();
          display__date = "From " + date1_format + " to " + date2_format;
          return [display__date, fetch_date1, fetch_date2];
        }


        function generate_Quarter() {

          curr = new Date();
          var current_month = curr.getMonth();
          if (current_month == 0 || current_month == 1 || current_month == 2) {
            date1_format = "01" + "/" + "01" + "/" + curr.getFullYear();
            fetch_date1 = curr.getFullYear() + "/" + "01" + "/" + "01";
            date2_format = "31" + "/" + "03" + "/" + curr.getFullYear();
            fetch_date2 = curr.getFullYear() + "/" + "03" + "/" + "31";
            display__date = "From " + date1_format + " to " + date2_format;
          } else if (current_month == 3 || current_month == 4 || current_month == 5) {
            date1_format = "01" + "/" + "04" + "/" + curr.getFullYear();
            fetch_date1 = curr.getFullYear() + "/" + "04" + "/" + "01";
            date2_format = "30" + "/" + "06" + "/" + curr.getFullYear();
            fetch_date2 = curr.getFullYear() + "/" + "06" + "/" + "30";
            display__date = "From " + date1_format + " to " + date2_format;
          } else if (current_month == 6 || current_month == 7 || current_month == 8) {
            date1_format = "01" + "/" + "07" + "/" + curr.getFullYear();
            fetch_date1 = curr.getFullYear() + "/" + "07" + "/" + "01";
            date2_format = "30" + "/" + "09" + "/" + curr.getFullYear();
            fetch_date2 = curr.getFullYear() + "/" + "09" + "/" + "30";
            display__date = "From " + date1_format + " to " + date2_format;
          } else {
            date1_format = "01" + "/" + "10" + "/" + curr.getFullYear();
            fetch_date1 = curr.getFullYear() + "/" + "10" + "/" + "01";
            date2_format = "31" + "/" + "12" + "/" + curr.getFullYear();
            fetch_date2 = curr.getFullYear() + "/" + "12" + "/" + "31";
            display__date = "From " + date1_format + " to " + date2_format;
          }

          return [display__date];
        }


        function generate_yesterday(date = "") {
          if (date) {
            curr = new Date(date)
          } else {
            curr = new Date();
          }
          var current___date = curr.getDate();
          var current___month = curr.getMonth() + 1;
          var current___year = curr.getFullYear();
          if (current___date > 1) {
            date1_format = (current___date - 1) + "/" + current___month + "/" + current___year;
            date2_format = (current___date - 1) + "/" + current___month + "/" + current___year;
            fetch_date1 = current___year + "/" + current___month + "/" + (current___date - 1);
            fetch_date2 = current___year + "/" + current___month + "/" + (current___date - 1);
            display__date = "From " + date1_format + " to " + date2_format;
            return [display__date, fetch_date1];
          } else if (current___date == 1) {
            var Previous__date = new Date(curr.getFullYear(), curr.getMonth(), 0);
            date1_format = Previous__date.getDate() + "/" + (Previous__date.getMonth() + 1) + "/" + Previous__date
              .getFullYear();
            date2_format = Previous__date.getDate() + "/" + (Previous__date.getMonth() + 1) + "/" + Previous__date
              .getFullYear();
            fetch_date1 = Previous__date.getFullYear() + "/" + (Previous__date.getMonth() + 1) + "/" +
              Previous__date.getDate();
            fetch_date2 = Previous__date.getFullYear() + "/" + (Previous__date.getMonth() + 1) + "/" +
              Previous__date.getDate();
            display__date = "From " + date1_format + " to " + date2_format;
            return [display__date, fetch_date1];
          }
        }

      })
    </script>



    <script type="text/javascript">
      console.log(document.querySelectorAll(".table__heading"));
    </script>



</body>

</html>