{% extends 'base.html' %}
{% load static %}

{% block content %}
 

<head>

  <title>Items | Aadolf Ledger</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3" style="display: flex; justify-content: space-between; align-items: center;">
              <h5 class="m-0 font-weight-bold text-primary" id="table__title">ITEMS</h5>
              <a class="nav-item dropdown no-arrow mx-1" href="upload/" style="float: right;"><button class="btn btn-primary">New</button></a>
              
            </div>
            
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>NAME</th>
                      <th>SKU</th>
                      <th>DESCRIPTION</th>
                      <th>RATE</th>
                      <th>HSN/SAC</TH>
                      <th>USAGE UNIT</th>
                      <th></th>

                    </tr>
                  </thead>

                  <tbody>
                    {% for i in alldetails %}
                    <tr role="button" data-href="#">
                      <td style="text-align:center">
                        <a href="#">{{i.name}}</a></td>
                      <td style="text-align:center">
                        {{i.item_type}}</td>
                      <td style="text-align:center">
                        {{i.salesdes}}</td>
                      <td style="text-align:center">
                        {{i.sellamount}}</td>
                      <td style="text-align:center">
                        {{i.hsncode}}</td>
                      <td style="text-align:center">
                        {{i.units}}</td>

                      <td><a class="btn btn-primary" href="{% url 'editItem' i.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>


                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
  <script>
    $("#img__Trigger").click(function(){
      $("#SideProfileBar").toggleClass("SideProfileBarClass");
      $("#SideProfileBar").toggleClass("summaclass");
      // console.log("dsadasdas")
    });
  </script>

<script>
  $('#makeEditable').SetEditable({ $addButton: $('#but_add')});
 </script>


{% endblock %}